certifi >= 14.05.14
click >= 7.1.1
future; python_version<="2.7"
six >= 1.10
pyinstaller >= 3.6
python_dateutil >= 2.5.3
setuptools >= 21.0.0
sphinx >= 1.5, < 4.0
sphinx-click >= 2.1.0
sphinx_py3doc_enhanced_theme==2.4.0
tabulate >= 0.8.7
urllib3 >= 1.15.1
